{% extends 'base.html.twig' %}
{% block title %}teams list{% endblock %}

{% block body %}
    <p>
        <a href="{{ path('new_team') }}">new team</a>
        <a href="{{ path('generate_teams') }}">generate teams</a>
    </p>

    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.id }}</td>
                <td>{{ team.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
